---
import Layout from "../layouts/Layout.astro";
import Experiencia from "../components/Experiencia.astro";
import Sections from "../components/Sections.astro";
import Proyectos from "../components/Proyectos.astro";
import Sobremi from "../components/Sobremi.astro";
import Tecnologias from "../components/Tecnologias.astro";
import Bienvenida from "../components/Bienvenida.astro";
---

<Layout
  title="Portfolio Sergio Avila Macho. Desarrollador web autodidacta, creativo y con espíritu de liderazgo."
  description="¡Bienvenido a mi mundo digital! Soy Sergio o también llamado Sam, un desarrollador web autodidacta, creativo y con espíritu de liderazgo. Mi portfiolio es mi escaparate de creatividad donde encontrarás mis proyectos e información sobre mi."
>
  <main>
    <Sections class="h-screen" id="inicio">
      <Bienvenida />
    </Sections>

    <Sections id="sobremi" class="bg-white p-10 drop-shadow-md">
      <Sobremi />
    </Sections>

    <Sections id="estudios" class="p-10">
      <Experiencia />
    </Sections>

    <Sections id="proyectos" class="p-10">
      <Proyectos />
    </Sections>
  </main>
</Layout>