---
import Layout from "../layouts/Layout.astro";
import Github from "../components/img/Github.astro";
import Mail from "../components/img/Mail.astro";
import Experiencia from "../components/Experiencia.astro";
import Sections from "../components/Sections.astro";
import Proyectos from "../components/Proyectos.astro";
---

<Layout
  title="Portfolio Sergio Avila Macho. Desarrollador web autodidacta, creativo y con espíritu de liderazgo."
  description="¡Bienvenido a mi mudo digital! Soy Sergio o también llamado Sam, un desarrollador web autodidacta, creativo y con espíritu de liderazgo. Mi portfiolio es mi escaparate de creatividad donde encontrarás mis proyectos e información sobre mi."
>
  <main>
  <Sections class="md:mt-28 mt-14" id="inicio">
	<div class="flex flex-col gap-6 lg:w-[733px] mx-10">
		<h1 class="lg:text-8xl text-5xl font-semibold text-black/90 py-4" id="wellcomeText">Hola! <br />Soy Sergio</h1>
		<h2 class="lg:text-2xl text-lg text-black/90">
		  Apasionado aprendiz autodidacta de España, <span class="text-black/50">creativo, proactivo y con
		  espíritu de liderazgo.</span>
		</h2>
		<div class="flex flex-row items-center gap-4">
		  <a
			href="https://github.com/D4souls"
			target="_blank"
			rel="noopener noreferrer"
			class="text-white/90 text-lg font-semibold flex flex-row justify-center gap-1 bg-[#00ADB5] rounded-full px-2 hover:scale-105 hover:text-white transition"
		  >
			<Github />
			 GitHub
		  </a>
		  <a
			href="mailto:sergioavilamacho12@gmail.com"
			target="_blank"
			rel="noopener noreferrer"
			class="text-white/90 text-lg font-semibold flex flex-row justify-center gap-1 bg-[#00ADB5] rounded-full px-2 hover:scale-105 hover:text-white transition"
		  >
			<Mail />
			 sergioavilamacho12@gmail.com
		  </a>
		</div>
	</div>
  </Sections>

  <Sections id="experiencia">
	<Experiencia/>
  </Sections>

  <Sections id="proyectos">
	<Proyectos/>
  </Sections>

  </main>
</Layout>
