---
const { class: className } = Astro.props; 
---
<span class={`flex flex-row gap-1 justify-center items-center text-white font-semibold px-2 rounded-xl hover:scale-105 transition cursor-pointer border ${className}`}>
    <slot/>
</span>