---
import Github from "../components/img/Github.astro";
import Mail from "../components/img/Mail.astro";
import Abajo from "./img/Abajo.astro";
---

<div class="flex flex-col justify-center items-start mx-10">
  <img src="logoPortfolio2023.webp" alt="Mi foto" class="md:w-32 md:h-32 w-20 h-20 rounded-full ring-2 ring-main p-1"/>
  <h1
    class="lg:text-8xl md:text-6xl text-4xl font-semibold text-black/90 py-4"
    id="wellcomeText"
  >
    Hola! Soy Sergio
  </h1>
  <h2 class="lg:text-2xl md:text-xl text-lg text-black/90">
    Apasionado desarrollador web con espíritu <span class="text-main"
      >creativo, proactivo y liderazgo.</span
    >
  </h2>
  <div class="flex flex-row items-center justify-center gap-4 mt-4">
    <a
      href="https://github.com/D4souls"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white/90 md:text-lg text-sm font-semibold shadow-lg flex flex-row justify-center gap-1 bg-main rounded-lg p-1 hover:scale-105 hover:text-white transition"
    >
      <Github />
      GitHub
    </a>
    <a
      href="mailto:sergioavilamacho12@gmail.com"
      target="_blank"
      rel="noopener noreferrer"
      class="text-white/90 md:text-lg text-sm font-semibold shadow-lg flex flex-row justify-center gap-1 bg-main rounded-lg p-1 hover:scale-105 hover:text-white transition"
    >
      <Mail />
      sergioavilamacho12@gmail.com
    </a>
  </div>
  <div 
    class="
    flex flex-col justify-center items-center 
    lg:mt-48 md:mt-24 mt-16 w-10 
    self-center absolute lg:bottom-8 bottom-10
    hover:scale-110 transition-all delay-200 " id="flecha">
    <a href="#sobremi" class="bg-black/85 p-1 rounded-lg">
      <Abajo/>
    </a>
  </div>
</div>


<style>

@media (prefers-reduced-motion: no-preference) {
  #flecha {
    animation: levitacion 8s infinite;
  }
  
  @keyframes levitacion {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

}


</style>