---
import Escuela from "./img/Escuela.astro";
---

<div class="flex flex-col items-center justify-center max-w-[800px] gap-8 mx-10 my-8">
  <h3
    class="text-black font-semibold text-3xl self-start mb-2 flex flex-row justify-center items-center gap-1"
  >
  &lt;Estudios /&gt;
  </h3>
  <ol class="relative border-s border-gray-400 dark:border-gray-700 mx-2">
    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-black rounded-full -start-3 ring-8"
      >
        <svg
          class="w-2.5 h-2.5 text-white/90"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          ></path>
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900">
        Administración de Sistemas Informáticos en Red (2º curso)<span
          class="bg-[#00ADB5] text-white/90 text-sm font-semibold drop-shadow-xl me-2 px-2.5 py-0.5 rounded ms-3"
          >Actualmente</span
        >
      </h3>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >Curso 2023-2024</time
      >
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Realización del 2º curso de Administración de Sistemas informáticos en
        Red en el instituto <a
          class="underline"
          href="https://www.centrodonbosco.es/"
          target="_blank"
          rel="noopener noreferrer">Salesianos Villamuriel de Cerrato</a
        >.
      </p>
    </li>

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-black rounded-full -start-3 ring-8"
      >
        <svg
          class="w-2.5 h-2.5 text-white/90"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          ></path>
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900">
        Administración de Sistemas Informáticos en Red (1º curso)
      </h3>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >Curso 2022-2023</time
      >
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Realización del grado superior de Administración de Sistemas
        informáticos en Red en el instituto <a
          class="underline"
          href="http://cifpcaminodelamiranda.centros.educa.jcyl.es/sitio/"
          target="_blank"
          rel="noopener noreferrer">CIFP Camino de la Miranda</a
        >.
      </p>
    </li>

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-black rounded-full -start-3 ring-8"
      >
        <svg
          class="w-2.5 h-2.5 text-white/90"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          ></path>
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900">
        Realización de prácticas obligatorias de Formación Profesional.
      </h3>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >Abril 2022 - Junio 2022 | 360 horas</time
      >
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Realización de las prácticas en <span
          title="Empresa de trabajo temporal"
          class="underline cursor-pointer">ETT</span
        > en la empresa <a
          class="underline"
          href="https://acaturnova.com/"
          target="_blank"
          rel="noopener noreferrer">ACATUR</a
        >.
      </p>
    </li>

    <li class="mb-10 ms-6">
      <span
        class="absolute flex items-center justify-center w-6 h-6 bg-black rounded-full -start-3 ring-8"
      >
        <svg
          class="w-2.5 h-2.5 text-white/90"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
          ></path>
        </svg>
      </span>
      <h3 class="flex items-center mb-1 text-xl font-semibold text-gray-900">
        Sistemas Microinformáticos y Redes
      </h3>
      <time
        class="block mb-2 text-md font-normal leading-none text-gray-400 dark:text-gray-500"
        >Curso 2020-2022</time
      >
      <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">
        Realización del grado medio de Sistemas Microinformáticos y Redes en Red
        en el instituto <a
          class="underline"
          href="http://cifpcaminodelamiranda.centros.educa.jcyl.es/sitio/"
          target="_blank"
          rel="noopener noreferrer">CIFP Camino de la Miranda</a
        >.
      </p>
    </li>
  </ol>
</div>
