---
import { Image } from "astro:assets";

import logo from "../images/logoportfolio2023.webp";
---

<footer class="bg-black/90 rounded-lg mx-4 mb-4 shadow-lg">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 text-center md:flex md:items-center md:justify-between md:text-sm text-[10px]"
  >
    <span class="text-white/90 dark:text-gray-400 flex flex-row justify-center items-center gap-2"
      >
      <Image src={logo} alt={"Logo pagina web"} class="h-7 w-7 md:h-10 md:w-10 rounded-md"/>
      © 2023 <a href="https://flowbite.com/" class="hover:underline"
        >Sam Develop</a
      >. Todos los derechos reservados.
    </span>
    <ul
      class="flex flex-wrap items-center justify-center mt-3 font-medium text-white/90 sm:mt-0 md:text-sm text-[10px]"
    >
      <li>
        <a
          href="#sobremi"
          class="me-4 md:me-6 underline hover:bg-white/20 rounded-2xl px-3"
          >Sobre mí</a
        >
      </li>
      <li>
        <a href="#inicio" class="underline hover:bg-white/20 rounded-2xl px-3"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
