<header class="flex justify-center items-center w-screen mx-auto z-10 sticky">
  <nav
    class="bg-black p-2 m-2 rounded-3xl flex flex-row justify-center items-center gap-4 md:text-lg text-xs"
  >
    <a href="#inicio" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Inicio</a
    >
    <a href="#experiencia" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Experiencia</a
    >
    <a href="#proyectos" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Proyectos</a
    >
  </nav>
</header>
