<header class="flex justify-center items-center w-screen backdrop-blur-xl z-20 top-0 sticky">
  <nav
    class="text-black/90 font-medium py-2 rounded-lg flex flex-row justify-center md:text-lg text-[11px] w-screen"
  >
    <div class="flex flex-row justify-center items-center gap-4">
      <a href="#sobremi" class="hover:text-black border-b-2 border-transparent hover:border-main px-3 transition" id="link1"
        >Sobre mí</a
      >
      <a href="#estudios" class="hover:text-black border-b-2 border-transparent hover:border-main px-3 transition" id="link2"
        >Estudios</a
      >
      <!-- <a href="#tecnologias" class="hover:text-black border-b-2 border-transparent hover:border-main px-3 transition"
        >Tecnologías</a
      > -->
      <a href="#proyectos" class="hover:text-black border-b-2 border-transparent hover:border-main px-3 transition" id="link3"
        >Proyectos</a
      >
    </div>
  </nav>
</header>