<header class="flex justify-center items-center w-screen z-10 sticky top-0">
  <nav
    class="bg-black p-2 m-2 rounded-3xl flex flex-row justify-center items-center gap-4 md:text-lg text-[11px]"
  >
    <a href="#sobremi" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Sobre mí</a
    >
    <a href="#estudios" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Estudios</a
    >
    <a href="#tecnologias" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Tecnologías</a
    >
    <a href="#proyectos" class="hover:bg-white/20 rounded-2xl px-3 transition"
      >Proyectos</a
    >
  </nav>
</header>
