---
import Mysql from "./img/Mysql.astro";
import Php from "./img/Php.astro";
import Html from "./img/Html.astro";
import Css from "./img/Css.astro";
import Link from "./img/Link.astro";
import AstroIcon from "./img/AstroIcon.astro";
import Tailwind from "./img/Tailwind.astro";
import Angular from "./img/Angular.astro";
import Javascript from "./img/Javascript.astro";
import Code from "./img/Code.astro";
import Derecha from "./img/Derecha.astro";
---

<div
  class="flex flex-col text-black lg:max-w-[800px] justify-center items-center gap-8 mx-10 -mt-8"
>
  <h3
    class="text-black font-semibold text-3xl self-start mb-2 flex flex-row justify-center items-center gap-1"
  >
    &lt;Proyectos /&gt;
  </h3>

  <!-- CuandoLibro -->

  <article
      class="border flex flex-col justify-center items-center bg-white/90 rounded-md gap-2"
    >
      <div class="overflow-y-hidden max-h-96 rounded-t-md">
        <img
          src="previewCuandoLibro.webp"
          alt="ejemploCuandoLibro"
          loading="lazy"
        />
      </div>
      <div class="flex flex-col justify-center items-start px-4">
        <div class="flex md:flex-row flex-col gap-2 items-center">
          <a
            href="https://github.com/D4souls/cuandoLibro"
            target="_blank"
            rel="noopener noreferrer"
            class="text-3xl font-semibold flex flex-row justify-center items-center hover:underline"
          >
            <Link />
             CuandoLibro
          </a>
          <!-- <div class="flex flex-row gap-2">
            <Php />
            <Javascript />
            <Html />
            <Css />
            <Mysql />
          </div> -->
        </div>
        <hr class="w-full border-gray-200 my-1" />
        <div class="flex flex-col flex-grow gap-4 pb-4">
          <p class="text-gray-500 font-normal text-md lg:text-xl line-clamp-3">
            Aplicación vía web para la administración de una pequeña empresa.
            Con esta aplicación podrás desde crear un usuario hasta gestionar
            las nóminas de cada mes simplificando y agilizando los procesos de
            administración.
          </p>
          <a
            href="https://github.com/D4souls/cuandoLibro/blob/main/README.md"
            target="_blank"
            rel="noopener noreferrer"
            class="text-lg text-white/90
            flex flex-row justify-center items-center
            bg-[#00ADB5] w-28 rounded-full px-2 py-1
            hover:scale-105 transition ease-in-out font-medium
            hover:bg-[#00ADB5]/80 hover:text-white drop-shadow-xl"
          >
            Ver más
            <Derecha />
          </a>
          <footer class="mt-auto">
            <time
              datetime="2023-12-10"
              class="px-2 rounded-md bg-gray-300/45 text-gray-600/90"
              >10/12/2023</time
            >
          </footer>
        </div>
      </div>
    </article>
</div>
