---
import User from "./img/user.astro";
---

<div
  class="flex flex-col lg:w-[733px] w-auto m-8 text-black justify-center items-center"
>
  <h3
    class="text-black font-semibold text-3xl self-start pb-2 flex flex-row justify-center items-center gap-1"
  >
    <User />Sobre mí
  </h3>
  <div
    class="flex flex-col md:flex-row bg-white/90 rounded-lg justify-center items-center shadow-lg"
  >
    <div class="flex flex-col justify-center items-center pl-4 order-2 md:order-1">
      <p class="lg:text-xl text-lg text-pretty">
        Creativo, dedicado y apasionado por el Desarrollo Web, <span class="text-black/50">busco constantemente</span>
        aprender y enfrentar nuevos desafíos. <span class="text-black/50">Además de mi pasión por la
        programación,</span> disfruto de viajar, hacer ejercicio y disfrutar con la familia.
      </p>
    </div>
    <img
      src="me.webp"
      alt="Mi imagen"
      id="miImagen"
      loading="lazy"
    />

  </div>
</div>
