---
import User from "./img/user.astro";
---

<div
  class="flex flex-col text-black w-screen bg-white justify-center items-center p-10 gap-8"
>
  <h3
    class="text-black font-semibold text-3xl pb-2 flex flex-row justify-center items-center gap-1"
  >
    &lt;Sobre mí /&gt;
  </h3>
  <div
    class="flex flex-col max-w-[800px] md:flex-row rounded-lg justify-center items-center"
  >
    <div
      class="flex flex-col justify-center items-center gap-2 lg:text-xl text-lg text-pretty text-black/90"
    >
      <p>
        Soy Sergio, <span class="font-medium">un desarrollador Web autodidacta, amante de la tecnología,
          creativo y dedicado.</span>
      </p>
      <p>
        Busco constantemente aprender y <span class="font-medium">enfrentar nuevos desafíos</span>. Además de mi
        pasión por la programación, disfruto de viajar, hacer ejercicio y
        disfrutar con la familia.
      </p>
    </div>
    <div class="flex flex-col items-center justify-center gap-2 w-[800px]">
      <img
        src="me.webp"
        alt="Mi imagen"
        loading="lazy"
        class="w-52 h-52 rounded-lg"
      />
      <p class="italic text-sm text-black/90">"In omnia paratus"</p>
    </div>
  </div>
</div>
