---
import Badges from "./Badges.astro";
import Technology from "./img/Technology.astro";
import Mysql from "./img/Mysql.astro";
import Php from "./img/Php.astro";
import Html from "./img/Html.astro";
import Css from "./img/Css.astro";
import Link from "./img/Link.astro";
import AstroIcon from "./img/AstroIcon.astro";
import Tailwind from "./img/Tailwind.astro";
import Angular from "./img/Angular.astro";
import Javascript from "./img/Javascript.astro";
import Nolink from "./img/Nolink.astro";
import Code from "./img/Code.astro";
import Node from "./img/Node.astro";
---

<div
  class="flex flex-col text-black max-w-[800px] justify-center items-center gap-8"
>
  <h3 class="text-black font-semibold text-3xl self-start">&lt;Tecnologías/&gt;</h3>
  
  <div class="w-screen grid grid-cols-7 justify-items-center">

    <div>
      <Html/>
    </div>

  </div>

</div>
