---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import '@fontsource-variable/onest';
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="author" content="Sergio Ãvila Macho" />
    <meta name="keywords" content="Portfolio, desarrollador, ejemplo portfolio, astro, tailwind, contratar desarrolladores, contratar programadores" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  html {
    font-family: 'Onest Variable',system-ui, sans-serif;
    scroll-behavior: smooth;
    background: #eeeeee;
    overflow-x: hidden;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #wellcomeText {
      background: linear-gradient(
        318deg,
        #ff0062,
        #ffff00,
        #00ff00,
        #00ffff,
        #0000ff
      );
      background-size: 200% 200%;
      -webkit-background-clip: text;
      color: transparent;
      animation: Coolgradient 41s linear infinite;
      display: inline-block;
    }

    @keyframes Coolgradient {
      0% {
        background-position: 5% 0%;
      }
      50% {
        background-position: 96% 100%;
      }
      100% {
        background-position: 5% 0%;
      }
    }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }

	#wellcomeText {
		color: black;
	}
  }
</style>
